<!DOCTYPE html>
<html lang="zxx">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
              href="assets/css/bootstrap.min.css">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet"
              href="assets/css/owl.theme.default.min.css">
        <link rel="stylesheet"
              href="assets/css/owl.carousel.min.css">
        <!-- Flaticon CSS -->
        <link rel="stylesheet"
              href="assets/fonts/flaticon.css">
        <!-- Boxicons CSS -->
        <link rel="stylesheet"
              href="assets/css/boxicons.min.css">
        <!-- Animate CSS -->
        <link rel="stylesheet"
              href="assets/css/animate.min.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet"
              href="assets/css/meanmenu.css">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet"
              href="assets/css/magnific-popup.css">
        <!-- Nice Select CSS -->
        <link rel="stylesheet"
              href="assets/css/nice-select.min.css">
        <!-- Style CSS -->
        <link rel="stylesheet"
              href="assets/css/style.css">
        <!-- Responsive CSS -->
        <link rel="stylesheet"
              href="assets/css/responsive.css">
        <!-- Theme Dark CSS -->
        <link rel="stylesheet"
              href="assets/css/theme-dark.css">
    
    
        <!-- Title -->
        <title>Flawless Pool Services | Elk Grove | About Us</title>
    
        <!-- Favicon -->
        <link rel="icon"
              type="image/png"
              href="assets/img/favicon.png">
    </head>
    
    <body>
    
        <!-- Preloader -->
        <div class="preloader">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="spinner">
                        <div class="circle1"></div>
                        <div class="circle2"></div>
                        <div class="circle3"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
    
        <!-- Top Header Start -->
        <div class="top-header-two top-header-border">
            <div class="container-fluid">
                <div class="container-max-two">
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <div class="head-left-two">
                                <div class="header-top-card">
                                    <ul>
                                        <li>
                                            <div class="head-top-icon">
                                                <i class='flaticon-email'></i>
                                            </div>
                                            <span>Talk To Us</span>
                                            <a href="mailto:info@flawlesspoolservices.com">info@flawlesspoolservices.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-lg-2 col-md-2">
                            <div class="top-logo-img">
                                <a href="index.html"><img src="assets/img/logo-white.png"
                                         alt="Logo"></a>
                            </div>
                        </div>
    
                        <div class="col-lg-5 col-md-5">
                            <div class="header-right-two">
                                <div class="header-top-card">
                                    <ul>
                                        <li>
                                            <div class="head-top-icon">
                                                <i class='flaticon-phone-call'></i>
                                            </div>
                                            <span>Call Us Now!</span>
                                            <a href="tel:+(704)279-1249">+(916) 620-5020</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Header End -->
    
        <!-- Start Navbar Area -->
        <div class="navbar-area">
            <!-- Menu For Mobile Device -->
            <div class="mobile-nav">
                <a href="index.html"
                   class="logo">
                    <img src="assets/img/footer-logo.png"
                         alt="Logo">
                </a>
            </div>
    
            <!-- Menu For Desktop Device -->
            <div class="top-nav main-nav">
                <div class="container-fluid">
                    <nav class="container-max-two navbar navbar-expand-md navbar-light ">
                        <div class="collapse navbar-collapse mean-menu"
                             id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <a href="index.html"
                                       class="nav-link">
                                        Home
    
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="about.html"
                                       class="nav-link">
                                        About
                                        <i class='bx bx-chevron-right'></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="services.html"
                                       class="nav-link">
                                        Pool Cleaning
                                        <i class='bx bx-chevron-right'></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="gallery.html"
                                       class="nav-link">
                                        Photo Gallery
                                        <i class='bx bx-chevron-right'></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="contact.html"
                                       class="nav-link active">
                                       <u> Contact Us </u>                                      
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="blog.html"
                                       class="nav-link">
                                        Our Blog
                                        <i class='bx bx-chevron-right'></i>
                                    </a>
                                </li>
                            </ul>
    
                            <div class="modal-menu">
                                <a href="#"
                                   class="modal-icon-btn2"
                                   data-bs-toggle="modal"
                                   data-bs-target="#myModal2">
                                    <i class='flaticon-menu'></i>
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

         <!-- Start Sidebar Modal -->
		<div class="sidebar-modal">  
			<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-bs-labelledby="myModalLabel2">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-bs-dismiss="modal" aria-bs-label="Close">
								<span aria-bs-hidden="true">
									<i class="bx bx-x"></i>
								</span>
							</button>
							<h2 class="modal-title" id="myModalLabel2">
								<a href="index.html">
									<img src="assets/img/logo.png" alt="Logo">
								</a>
							</h2>
                        </div>
                        
						<div class="modal-body">
							<div class="sidebar-modal-widget">
								<h3 class="title">About Us</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, asperiores doloribus eum laboriosam praesentium delectus unde magni aut perspiciatis cumque deserunt dolore voluptate, autem pariatur.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, asperiores doloribus eum laboriosam praesentium delectus unde magni aut perspiciatis cumque deserunt dolore voluptate, autem pariatur.</p>
							</div>
							<div class="sidebar-modal-widget">
								<h3 class="title">Blogs</h3>
								<div class="modal-widget-blog">
                                    <ul>
                                        <li>
                                            <a href="blog-details.html">
                                                <img src="assets/img/blog/1.jpg" alt="Blog Images">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-details.html">
                                                <img src="assets/img/blog/2.jpg" alt="Blog Images">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-details.html">
                                                <img src="assets/img/blog/3.jpg" alt="Blog Images">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-details.html">
                                                <img src="assets/img/blog/1.jpg" alt="Blog Images">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-details.html">
                                                <img src="assets/img/blog/2.jpg" alt="Blog Images">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-details.html">
                                                <img src="assets/img/blog/3.jpg" alt="Blog Images">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-details.html">
                                                <img src="assets/img/blog/1.jpg" alt="Blog Images">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-details.html">
                                                <img src="assets/img/blog/2.jpg" alt="Blog Images">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            
							<div class="sidebar-modal-widget">
								<h3 class="title">Connect With Us</h3>
								<ul class="social-list">
									<li>
										<a href="#">
											<i class="bx bxl-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="bx bxl-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxl-youtube'></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class='bx bxl-instagram'></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <!-- End Sidebar Modal -->

        <!-- Inner Banner -->
        <div class="inner-banner inner-bg6">
            <div class="container">
                <div class="inner-title text-center">
                    <h3>CONTACT US</h3>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <i class='bx bx-chevron-right'></i>
                        </li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Inner Banner End -->

        <!-- Contact Section -->
        <div class="contact-section pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <span>contact</span>
                    <h2 class="margin-auto color-title-blue">Get in Touch</h2>
                </div>
                <div class="row pt-45">
                    <div class="col-lg-4 col-md-6">
                        <div class="contact-card">
                            <i class="flaticon-global"></i>
                            <h3>Elk Grove, CA</h3>
                            <h3>Sacramento, CA</h3>
                            <h3>Surrounding Areas</h3>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="contact-card">
                            <i class="flaticon-email"></i>
                            <h3><a href="mailto:info@flawlesspoolservices.com">Email:info@flawlesspoolservices.com</a></h3>
                            <h3><a href="mailto:support@flawlesspoolservices.com">Email:support@flawlesspoolservices.com</a></h3>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                        <div class="contact-card">
                            <i class="flaticon-phone-call"></i>
                            <h3><a href="tel:+1(916)6205020">+1 (916) 620-5020</a></h3>
                            <h3><a href="tel:+1(916)6205020">+1 (916) 620-5020</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Section End -->
        
        <!-- Contact Area -->
        <div class="contact-area bg-section pt-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="contact-left-side">
                            <h2>HAVE ANY KIND QUESTION PLEASE DONT HESITATE!  CONTACT US!</h2>      
                            <p>
                                We are looking forward to hearing from you and are always glad to help.
                                Give us a call or drop us a line, even if it's just to say hello!                           cleaning and pool equipment repair for the Area! We are master
                            </p>
                            <p>
                                Fill out the form below and send us a message.  Someone from our team will assist you
                                as soon as they are available.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="contact-right">
                            <div class="contact-form">
                                <form id="contactForm">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="form-group">
                                                <i class='bx bx-user'></i>
                                                <input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name" placeholder="Your Name">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
        
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="form-group">
                                                <i class='bx bx-envelope-open'></i>
                                                <input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email" placeholder="Your Email">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
        
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="form-group">
                                                <i class='bx bxs-phone'></i>
                                                <input type="text" name="phone_number" id="phone_number" required data-error="Please enter your number" class="form-control" placeholder="Your Phone">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
        
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="form-group">
                                                <i class='bx bx-file'></i>
                                                <input type="text" name="msg_subject" id="msg_subject" class="form-control" required data-error="Please enter your subject" placeholder="Your Subject">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
        
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <i class='bx bx-chat'></i>
                                                <textarea name="message" class="form-control" id="message" cols="30" rows="8" required data-error="Write your message" placeholder="Your Message"></textarea>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
        
                                        <div class="col-lg-12 col-md-12 text-center">
                                            <button type="submit" class="default-btn default-bg-black ">
                                                Send Message
                                            </button>
                                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Area End -->

        
 
        <!-- Map Area -->
        <div class="map-area">
            <div class="container-fluid p-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.27991517034!2d-74.25987556253516!3d40.697670063539654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1587753923814!5m2!1sen!2sbd"></iframe>    
            </div>
        </div>
        <!-- Map Area End -->
        
        <!-- Footer Area -->
        <footer class="footer-area-three ">
            <div class="container">
                <div class="footer-section pt-100">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="footer-newsleter-title">
                                <h2>Don't Miss Our Update Use This Subscription</h2>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="footer-newsleter-form">
                                <form class="newsletter-form" data-toggle="validator" method="POST">
                                    <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" required autocomplete="off">
                                    <button class="subscribe-btn" type="submit">
                                        SUBSCRIBE NOW
                                    </button>
                                    <div id="validator-newsletter" class="form-result"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="footer-middle-two pt-100 pb-70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-md-4">
                            <div class="footer-list">
                                <h3>ABOUT Flawless</h3>
                                <ul>
                                    <li>
                                        <i class='bx bx-plus' ></i>
                                        <a href="index.html">HOME</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-plus' ></i>
                                        <a href="services.html">MAINTENANCE</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-plus' ></i>
                                        <a href="services.html">REPAIR</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-plus' ></i>
                                        <a href="services.html"> AUTOMATION</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-plus' ></i>
                                        <a href="contact.html">CONTACT US</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-plus' ></i>
                                        <a href="faq.html">FAQ</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-plus' ></i>
                                        <a href="privacy-policy.html">PRIVACY POLICY</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 col-md-4">
                            <div class="footer-list">
                                <h3>SERVICES</h3>
                                <ul>
                                    <li>
                                        <i class='bx bx-plus' ></i>
                                        <a href="services.html">Home Services</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-plus' ></i>
                                        <a href="services.html">Hotel Services</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-plus' ></i>
                                        <a href="services.html">Company Services</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-plus' ></i>
                                        <a href="team.html">OUR TEAM</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-plus' ></i>
                                        <a href="#">Request</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-plus' ></i>
                                        <a href="price.html">Pricing lists</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-plus' ></i>
                                        <a href="#">NEW Customer OFFER</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 col-md-4">
                            <div class="footer-top-card">
                                <i class="flaticon-padlock"></i>
                                <span>Sunday:</span>
                                <h3>Closed</h3>
                            </div>

                            <div class="footer-top-card">
                                <i class="flaticon-alarm-clock"></i>
                                <span>Saturday:</span>
                                <h3>09:00AM - 07:00PM</h3>
                            </div>

                            <div class="footer-top-card">
                                <i class="flaticon-calendar"></i>
                                <span>Monday - Friday:</span>
                                <h3>09:00AM - 09:00PM</h3>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="footer-gallery">
                                <h3>Gallery</h3>
                                <ul>
                                    <li>
                                        <a href="gallery.html">
                                            <img src="assets/img/gallery/g-1.jpg" alt="image">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="gallery.html">
                                            <img src="assets/img/gallery/g-2.jpg" alt="image">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="gallery.html">
                                            <img src="assets/img/gallery/g-3.jpg" alt="image">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="gallery.html">
                                            <img src="assets/img/gallery/g-4.jpg" alt="image">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="gallery.html">
                                            <img src="assets/img/gallery/g-5.jpg" alt="image">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="gallery.html">
                                            <img src="assets/img/gallery/g-6.jpg" alt="image">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="bottom-social-link">
                                <ul>
                                    <li>
                                        <a class="color-blue" href="#" target="_blank">
                                            <i class='bx bxl-facebook'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a  class="active" href="#" target="_blank">
                                            <i class='bx bxl-twitter'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="color-pink" href="#" target="_blank">
                                            <i class='bx bxl-instagram'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="color-red" href="#" target="_blank">
                                            <i class='bx bxl-pinterest-alt'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="color-dark-red" href="#" target="_blank">
                                            <i class='bx bxl-youtube'></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-8 col-md-8">
                            <div class="bottom-text">
                                <p>
                                    Copyright @<script>document.write(new Date().getFullYear())</script>  Flawless Pool Services. All Rights Reserved by 
                                    <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a> 
                                </p>

                                <p>
                                    Site Created & Hosted By:  <a href="https://www.manmadedigital.com">Man Made Digital</a><img src="assets/img/mmd.png" style="width: 30px;">
                            
                                <p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End -->


         <!-- Jquery Min JS -->
        <script src="assets/js/jquery.min.js"></script>
        <!-- Bootstrap Bundle JS -->
        <script src="assets/js/bootstrap.bundle.js"></script>
        <!-- Owl Carousel JS -->
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Wow Min JS -->
        <script src="assets/js/wow.min.js"></script>
        <!-- Meanmenu JS -->
        <script src="assets/js/meanmenu.js"></script>
        <!-- Magnific Popup JS -->
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Nice Select JS -->
        <script src="assets/js/jquery.nice-select.min.js"></script>
        <!-- Ajaxchimp Min JS -->
        <script src="assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="assets/js/form-validator.min.js"></script>
        <!-- Contact Form JS -->
        <script src="assets/js/contact-form-script.js"></script>
        <!-- Custom JS -->
        <script src="assets/js/custom.js"></script>
        
    </body>
</html>
